@{
    ViewData["Title"] = "Atualiza Cliente";
}

<h1>ATUALIZAR CLIENTE</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Atualizar Nome</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome">
  </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Atualizar Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Atualizar Telefone</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="00000-0000">
    </div>


</form>

<button style="float: right;" type="button" class="btn btn-secondary btn-lg">Atualizar</button>
